@use "./components/_variables.scss" as values;

@use "../node_modules/normalize.css/normalize.css";


body {
    font-family: "Noto Sans JP", Avenir, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;

    img {
        width: 100%;

        &.h {
            width: auto;
            height: 100%;
        }
    }

    @import "./parts/_header.scss";
    @import "./parts/_main.scss";

    section {
        width: 100vw;
        margin: 0 auto;
        padding: 100px 0;

        h3 {
            width: values.$content-width;
            margin: 0 auto;
            font-size: 2.5em;
        }

        @import "./parts/_about.scss";
        @import "./parts/_area.scss";
        @import "./parts/_interview.scss";
        @import "./parts/_app_info.scss";
        @import "./parts/_about_port.scss";
        @import "./parts/_contact.scss";
    }

    @import "./parts/_footer.scss";
}
