
&#interview {
    background-color: values.$section-color;

    .row {
        background: values.$main-color;
        width: values.$content-width;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;

        .col {

            &.image {
                width: 40%;
                line-height: 0;
            }

            &.text-area {
                width: 60%;
                padding: 0 3em;

                h5 {
                    font-size: 1.2em;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                p {
                    margin-top: 1em;
                    line-height: 2;
                }
            }
        }

        &:not( :first-child ) {
            margin-top: 3em;
        }
    }
}